.title_Notes {
  font-size: 2em;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;
  background-color: rgb(240, 0, 0);
}
.notes {
  list-style: none;
  color: black;
  padding: 20px;
  margin: 0;
}

.notesItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid black;
}
